html, body, div, main, span {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display: inline;
  margin: 0 auto;
  text-align: center;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}

.board {
  display: inline-block;
  border: 1px solid #757575;
}

.tile {
  background-color: #eee;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #757575;
  cursor: pointer;
}

.revealed {

}

.flagged {

}
